body{
   font-family: "Impact", fantacy !important;
}
nav{
    a{
        font-size: 24px;
        color: #fff !important;
        &:hover{
            background-color: #000 !important;
        }
    }
}

.main_image{
    border-radius: 100%;
}
.main_text{
    margin-top: 20%;
    position: absolute;
    z-index: 9999;
}

