/* line 1, ../sass/main.scss */
body {
  font-family: "Impact", fantacy !important;
}

/* line 5, ../sass/main.scss */
nav a {
  font-size: 24px;
  color: #fff !important;
}
/* line 8, ../sass/main.scss */
nav a:hover {
  background-color: #000 !important;
}

/* line 14, ../sass/main.scss */
.main_image {
  border-radius: 100%;
}

/* line 17, ../sass/main.scss */
.main_text {
  margin-top: 20%;
  position: absolute;
  z-index: 9999;
}
