#{extends 'main.html' /}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/index.css'}">
#{set title:'Home' /}
#{get 'moreScripts' /}
<div class="preloader">
    <img src="/public/images/img/loader.gif" alt="Preloader image">
</div>

<header id="intro">
    <div class="container">
        <div class="table">
            <div class="header-text">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="light white">Rafael C. Bautista Jr.</h3>
                        <h1 class="white typed">Website Developer</h1>
                        <span class="typed-cursor">|</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="cut cut-top"></div>
    <div class="container">
        <div class="row intro-tables">
            <div class="col-md-12">
                <div class="intro-table intro-table-first">
                    <h5 class="white heading">Skills</h5>
                    <div class="owl-carousel owl-schedule bottom">
                        <div class="item">
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">HTML</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h3 class="yellow">&#9734;&#9734;&#9734;&#9734;&#9734;</h3>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">CSS</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h3 class="yellow">&#9734;&#9734;&#9734;&#9734;&#9734;</h3>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Javascript</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h3 class="yellow">&#9734;&#9734;&#9734;&#9734;</h3>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">JQuery</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h3 class="yellow">&#9734;&#9734;&#9734;&#9734;</h3>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">AngularJS</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h3 class="yellow">&#9734;&#9734;&#9734;&#9734;</h3>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Java</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h3 class="yellow">&#9734;&#9734;&#9734;</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="section section-padded">
    <div class="container">
        <div class="row text-center title">
            <h2>Educational Background</h2>
            <h4 class="light muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        </div>
        <!--<div class="row services">-->
            <!--<div class="col-md-4">-->
                <!--<div class="service">-->
                    <!--<div class="icon-holder">-->
                        <!--<img src="/public/images/img/icons/heart-blue.png" alt="" class="icon">-->
                    <!--</div>-->
                    <!--<h4 class="heading">Cardio Training</h4>-->
                    <!--<p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="service">-->
                    <!--<div class="icon-holder">-->
                        <!--<img src="/public/images/img/icons/guru-blue.png" alt="" class="icon">-->
                    <!--</div>-->
                    <!--<h4 class="heading">Yoga Pilates</h4>-->
                    <!--<p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="service">-->
                    <!--<div class="icon-holder">-->
                        <!--<img src="/public/images/img/icons/weight-blue.png" alt="" class="icon">-->
                    <!--</div>-->
                    <!--<h4 class="heading">Power Training</h4>-->
                    <!--<p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="cut cut-bottom"></div>
</section>
<section id="team" class="section gray-bg">
    <div class="container">
        <div class="row title text-center">
            <h2 class="margin-top">Work Experience</h2>
            <h4 class="light muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--<div class="team text-center">-->
                    <!--<div class="cover" style="background:url('/public/images/img/team/team-cover1.jpg'); background-size:cover;">-->
                        <!--<div class="overlay text-center">-->
                            <!--<h3 class="white">$69.00</h3>-->
                            <!--<h5 class="light light-white">1 - 5 sessions / month</h5>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<img src="/public/images/img/team/team3.jpg" alt="Team Image" class="avatar">-->
                    <!--<div class="title">-->
                        <!--<h4>Ben Adamson</h4>-->
                        <!--<h5 class="muted regular">Fitness Instructor</h5>-->
                    <!--</div>-->
                    <!--<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="team text-center">-->
                    <!--<div class="cover" style="background:url('/public/images/img/team/team-cover2.jpg'); background-size:cover;">-->
                        <!--<div class="overlay text-center">-->
                            <!--<h3 class="white">$69.00</h3>-->
                            <!--<h5 class="light light-white">1 - 5 sessions / month</h5>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<img src="/public/images/img/team/team1.jpg" alt="Team Image" class="avatar">-->
                    <!--<div class="title">-->
                        <!--<h4>Eva Williams</h4>-->
                        <!--<h5 class="muted regular">Personal Trainer</h5>-->
                    <!--</div>-->
                    <!--<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="team text-center">-->
                    <!--<div class="cover" style="background:url('/public/images/img/team/team-cover3.jpg'); background-size:cover;">-->
                        <!--<div class="overlay text-center">-->
                            <!--<h3 class="white">$69.00</h3>-->
                            <!--<h5 class="light light-white">1 - 5 sessions / month</h5>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<img src="/public/images/img/team/team2.jpg" alt="Team Image" class="avatar">-->
                    <!--<div class="title">-->
                        <!--<h4>John Phillips</h4>-->
                        <!--<h5 class="muted regular">Personal Trainer</h5>-->
                    <!--</div>-->
                    <!--<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</section>
<section id="pricing" class="section">
    <div class="container">
        <div class="row title text-center">
            <h2 class="margin-top white">Contact</h2>
            <h4 class="light white">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        </div>
        <!--<div class="row no-margin">-->
            <!--<div class="col-md-7 no-padding col-md-offset-5 pricings text-center">-->
                <!--<div class="pricing">-->
                    <!--<div class="box-main active" data-img="/public/images/img/pricing1.jpg">-->
                        <!--<h4 class="white">Yoga Pilates</h4>-->
                        <!--<h4 class="white regular light">$850.00 <span class="small-font">/ year</span></h4>-->
                        <!--<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Sign Up Now</a>-->
                        <!--<i class="info-icon icon_question"></i>-->
                    <!--</div>-->
                    <!--<div class="box-second active">-->
                        <!--<ul class="white-list text-left">-->
                            <!--<li>One Personal Trainer</li>-->
                            <!--<li>Big gym space for training</li>-->
                            <!--<li>Free tools &amp; props</li>-->
                            <!--<li>Free locker</li>-->
                            <!--<li>Free before / after shower</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="pricing">-->
                    <!--<div class="box-main" data-img="/public/images/img/pricing2.jpg">-->
                        <!--<h4 class="white">Cardio Training</h4>-->
                        <!--<h4 class="white regular light">$100.00 <span class="small-font">/ year</span></h4>-->
                        <!--<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Sign Up Now</a>-->
                        <!--<i class="info-icon icon_question"></i>-->
                    <!--</div>-->
                    <!--<div class="box-second">-->
                        <!--<ul class="white-list text-left">-->
                            <!--<li>One Personal Trainer</li>-->
                            <!--<li>Big gym space for training</li>-->
                            <!--<li>Free tools &amp; props</li>-->
                            <!--<li>Free locker</li>-->
                            <!--<li>Free before / after shower</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</section>


<!-- Holder for mobile navigation -->
<div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>
<!-- Scripts -->